extends layout

block content
  link(rel='stylesheet', href='/stylesheets/bootstrap-rtl.min.css')
  div.container
    div.header
      ul.nav.nav-pills.pull-right
    div.container 
    div.container 
      div.form-group 
        table.table.table-striped.table-bordered.table-condensed.table-hover
          tbody
        .panel.panel-danger
          .panel-heading.clearfix
            .input-group.panel-title.pull-right.col-xs-6
              input.form-control(placeholder=" أبحث",type="text")
              .input-group-btn
                .btn.btn-default(type="button")  
                  spen.glyphicon.glyphicon-search
            .btn-group.pull-left
              a.btn.btn-success(href='', role='button',data-toggle='modal') الإضـافـة
                span.glyphicon.glyphicon-plus 
          .panel-body
            table-responsive  
              table#off.table.table-striped.table-bordered.table-condensed.table-hover
                thead
                  th(width='3%') رقم المستشفى
                  th(width='10%') المستشفى
                  th(width='3%') تعديل
                  th(width='3%') الغاء 
                tbody
                      tr
                        td 1
                        td 
                            |  مستشفى الزاوية 
                        td
                          button#viw.btn.btn-primary.btn-xs(value="")
                            span.glyphicon.glyphicon-eye-open
                        td      
                          button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal',value="")
                           span.glyphicon.glyphicon-trash 


                      tr
                        td 1
                        td 
                            |  مستشفى الزاوية 
                        td
                          button#viw.btn.btn-primary.btn-xs(value="")
                            span.glyphicon.glyphicon-eye-open
                        td      
                          button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal',value="")
                           span.glyphicon.glyphicon-trash 


                      tr
                        td 1
                        td 
                            |  مستشفى الزاوية 
                        td
                          button#viw.btn.btn-primary.btn-xs(value="")
                            span.glyphicon.glyphicon-eye-open
                        td      
                          button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal',value="")
                           span.glyphicon.glyphicon-trash 


                      tr
                        td 1
                        td 
                            |  مستشفى الزاوية 
                        td
                          button#viw.btn.btn-primary.btn-xs(value="")
                            span.glyphicon.glyphicon-eye-open
                        td      
                          button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal',value="")
                           span.glyphicon.glyphicon-trash 


                      tr
                        td 1
                        td 
                            |  مستشفى الزاوية 
                        td
                          button#viw.btn.btn-primary.btn-xs(value="")
                            span.glyphicon.glyphicon-eye-open
                        td      
                          button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal',value="")
                           span.glyphicon.glyphicon-trash 


                      tr
                        td 1
                        td 
                            |  مستشفى الزاوية 
                        td
                          button#viw.btn.btn-primary.btn-xs(value="")
                            span.glyphicon.glyphicon-eye-open
                        td      
                          button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal',value="")
                           span.glyphicon.glyphicon-trash 


                      tr
                        td 1
                        td 
                            |  مستشفى الزاوية 
                        td
                          button#viw.btn.btn-primary.btn-xs(value="")
                            span.glyphicon.glyphicon-eye-open
                        td      
                          button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal',value="")
                           span.glyphicon.glyphicon-trash 


                      tr
                        td 1
                        td 
                            |  مستشفى الزاوية 
                        td
                          button#viw.btn.btn-primary.btn-xs(value="")
                            span.glyphicon.glyphicon-eye-open
                        td      
                          button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal',value="")
                           span.glyphicon.glyphicon-trash 


                      tr
                        td 1
                        td 
                            |  مستشفى الزاوية 
                        td
                          button#viw.btn.btn-primary.btn-xs(value="")
                            span.glyphicon.glyphicon-eye-open
                        td      
                          button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal',value="")
                           span.glyphicon.glyphicon-trash 


                      tr
                        td 1
                        td 
                            |  مستشفى الزاوية 
                        td
                          button#viw.btn.btn-primary.btn-xs(value="")
                            span.glyphicon.glyphicon-eye-open
                        td      
                          button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal',value="")
                           span.glyphicon.glyphicon-trash 

